<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Horizon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Stare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BF873081BDE73FC009ABCE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF8731C1BDE73FC009ABCE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF873271BDE73FC009ABCE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF873431BDE75B2009ABCE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
